body {
  padding: var(--pg-border-width) 0;
  background: color-mix(in srgb, var(--primary-clr) 70%, black);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 5em 0;
}

.container > * {
  width: 95%;
  border-radius: 100vh;
  margin: 4em auto;
  height: 20em;
  padding: 0 8em;
  background-color: var(--bg-clr);
  position: relative;
}

.container > *::before {
  content: var(--heading);
  position: absolute;
  bottom: 100%;
  left: 4em;
  margin-bottom: 0.25em;
  font-size: 2.25em;
  color: var(--bg-clr);
}

.endangered-container {
  --bg-clr: hsl(120, 100%, 40%);
  --heading: "Endangered:";
}

.critically-endangered-container {
  --bg-clr: hsl(270, 100%, 70%);
  --heading: "Critically Endangered:";
}

.extinct-container {
  --bg-clr: hsl(0, 0%, 40%);
  --heading: "Extinct:";
}

.container > * > * {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  scroll-behavior: smooth;
}

.plant-card-container {
  min-width: 20%;
  max-width: 20%;
  padding: 2em 1.5em;
  min-height: 90%;
}

.plant-card {
  cursor: pointer;
  border-radius: 1em;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  transition: transform 200ms, box-shadow 200ms;
  color: white;
  background-color: rgba(0 0 0 / 0.3);
}

.plant-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px 2px rgba(0 0 0 / 0.3);
}

.plant-card__name {
  text-transform: capitalize;
  font-size: 1.1em;
  text-decoration: underline;
  text-align: center;
}

.plant-card__img {
  width: 100%;
  height: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plant-card__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5em;
}

.previous-arrow,
.next-arrow {
  --thickness: 4px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 75px;
  height: 75px;
  border: var(--thickness) solid white;
  border-left: var(--thickness) solid transparent;
  border-bottom: var(--thickness) solid transparent;
  transform: translate(-80%, -50%) rotate(45deg);
}

.plant-card__type {
  margin-top: auto;
}

.next-arrow {
  right: 0;
}

.previous-arrow {
  left: 0;
  transform: translate(80%, -50%) rotate(calc(180deg + 45deg));
}

.heading {
  color: #666;
  font-family: "Instrument Sans";
  font-size: 5em;
  text-align: center;
  padding: 2em 0;
}
