body {
  background: color-mix(in srgb, var(--primary-clr) 70%, black);
}

* {
  font-size: 1.04em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 0;
  width: 100%;
  color: white;
  gap: 1em;
}

.plant-img {
  width: 20%;
  aspect-ratio: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plant-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5em;
}

.plant-name {
  font-size: 2.25em;
}

.plant-type {
  font-size: 1.25em;
}

.plant-endangerment {
  font-size: 1.25em;
}

.plant-description {
  max-width: 50%;
}

.plant-field {
  display: inline;
  font-weight: bold;
}
