<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500&family=Nunito:wght@400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plant.css') }}" />
    <title>BioAlmanac - {{ plant.name }}</title>
</head>

<body>
    <div class="container">
        <div class="plant-img">
            <img src="{{ url_for('static', filename='img/' + plant['name'].replace(' ', '_').lower() + '.jpg') }}"
                alt="plant img">
        </div>
        <div class="plant-name">
            <div class="plant-field">Name:</div> {{ plant.name }}
        </div>
        <div class="plant-type">
            <div class="plant-field">Type:</div> {{ plant.type }}
        </div>
        <div class="plant-endangerment">
            <div class="plant-field">Endangerment Status:</div> {{ plant.endangerment_status }}
        </div>
        <div class="plant-description">
            <div class="plant-field">Description:</div> {{ plant.description }}
        </div>
    </div>
</body>

</html>